<p>Beste <%= @resource.email %>!</p>

<p>Iemand heeft naar een link gevraagd om je paswoord te resetten voor je account op Meenuuz. Je kunt dit doen door de onderstaande link te gebruiken.</p>

<p><%= link_to 'Pas mijn paswoord aan', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Als je niet zelf gevraagd hebt om je paswoord te resetten, negeer dan deze email.</p>
<p>Je paswoord wordt enkel aangepast als je deze link gebruikt en een nieuw paswoord ingeeft.</p>
